<div ng-controller="cancelCtrl" class="inset">
    <section class="is-selected size-70">
        <div class="columns">
            <div class="column">
            <h2>
                If you decide Netflix ins't for you - no problem. No commitment
            </h2>
            <button class="btn btn-large">JOIN FOR A FREE MONTH</button>
            </div>
    
            <div class="column">
            <img src="../../../img/cancelanytime_withdevice.png">
            </div>
        </div>
    </section>
</div>